/*데탑*/
@media screen and (max-width:1440px) {

    /*sub_idea*/

    #sub_idea .sub_idea_wrap .sub_item .idea_imgBox_txt h3{
        font-size: 0.8em;
    }

    #sub_idea .sub_idea_wrap .sub_item .idea_imgBox_txt p {
        font-size: 0.7em;
    }

    #sub_idea .sub_idea_wrap {
        grid-template-columns :repeat(4, 250px);
    }

    .sub_idea_imgBox1 {
        height: 251px !important;
    }

    .sub_idea_imgBox1 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }

    .sub_idea_imgBox2 {
        height: 143px !important;
    }

    .sub_idea_imgBox2 .idea_imgBox_txt {
        padding: 45% 0 0 0;
    }

    .sub_idea_imgBox3 {
        height: 220px !important;
    }

    .sub_idea_imgBox3 .idea_imgBox_txt {
        padding: 65% 0 0 0;
    }

    .sub_idea_imgBox4 {
        height: 337px !important;
    }

    .sub_idea_imgBox4 .idea_imgBox_txt {
        padding: 112% 0 0 0;
    }

    .sub_idea_imgBox5 {
        height: 353px !important;
        margin-top: -84px;
    }

    .sub_idea_imgBox5 .idea_imgBox_txt {
        padding: 118% 0 0 0;
    }

    .sub_idea_imgBox6 {
        height: 251px !important;
        margin-top: -192px;
    }

    .sub_idea_imgBox6 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }

    .sub_idea_imgBox7 {
        height: 137px !important;
        margin-top: -114px;
    }

    .sub_idea_imgBox7 .idea_imgBox_txt {
        padding: 30% 0 0 0;
    }

    .sub_idea_imgBox8 {
        height: 250px !important;
    }

    .sub_idea_imgBox8 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }

    .sub_idea_imgBox10 {
        height: 175px !important;
        margin-top: -209px;
    }

    .sub_idea_imgBox10 .idea_imgBox_txt {
        padding: 38% 0 0 0;
    }

    .sub_idea_imgBox11 {
        height: 349px !important;
        margin-top: -243px;
    }

    .sub_idea_imgBox11 .idea_imgBox_txt {
        padding: 114% 0 0 0;
    }

    .sub_idea_imgBox9 {
        height: 179px !important;
    }

    .sub_idea_imgBox9 .idea_imgBox_txt {
        padding: 47% 0 0 0;
    }

    .sub_idea_imgBox12 {
        height: 325px !important;
        margin-top: -17px;
    }

    .sub_idea_imgBox13 {
        height: 344px !important;
        margin-top: -124px;
    }

    .sub_idea_imgBox13 .idea_imgBox_txt {
        padding: 115% 0 0 0;
    }

    .sub_idea_imgBox14 {
        height: 249px !important;
        margin-top: -338px;
    }

    .sub_idea_imgBox14 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }

    .sub_idea_imgBox15 {
        height: 246px !important;
        margin-top: -199px;
    }

    .sub_idea_imgBox15 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }

    .sub_idea_imgBox16 {
        height: 251px !important;
    }

    .sub_idea_imgBox16 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }

    .sub_idea_imgBox17 {
        height: 194px !important;
        margin-top: -24px;
    }

    .sub_idea_imgBox17 .idea_imgBox_txt {
        padding: 54% 0 0 0;
    }

    .sub_idea_imgBox18 {
        height: 253px !important;
        margin-top: -338px;
    }

    .sub_idea_imgBox18 .idea_imgBox_txt {
        padding: 76% 0 0 0;
    }

    .sub_idea_imgBox19 {
        height: 251px !important;
        margin-top: -201px;
    }

    .sub_idea_imgBox19 .idea_imgBox_txt {
        padding: 76% 0 0 0;
    }
    
    .sub_idea_imgBox20 {
        height: 250px !important;
    }

    .sub_idea_imgBox20 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }

    .sub_idea_imgBox21 {
        height: 160px !important;
        margin-top: -80px;
    }

    .sub_idea_imgBox21 .idea_imgBox_txt{
        padding: 48% 0 0 0;
    }
    
    .sub_idea_imgBox21 .idea_imgBox_txt {
        padding: 40% 0px 0px;
    }
    
    .sub_idea_imgBox22 {
        height: 173px !important;
        margin-top: -335px;
    }
    
    .sub_idea_imgBox22 .idea_imgBox_txt {
        padding: 45% 0 0 0;
    }
    
    .sub_idea_imgBox23 {
        height: 268px !important;
        margin-top: -196px;
    }
    
    .sub_idea_imgBox23 .idea_imgBox_txt {
        padding: 83% 0 0 0;
    }
    
    .sub_idea_imgBox24 {
        height: 250px !important;
    }
    
    .sub_idea_imgBox24 .idea_imgBox_txt {
        padding: 75% 0 0 0;
    }
    
    .sub_idea_imgBox25 {
        height: 171px !important;
        margin-top: -170px;
    }
    
    .sub_idea_imgBox25 .idea_imgBox_txt {
        padding: 43% 0 0 0;
    }
    
    .sub_idea_imgBox26 {
        height: 370px !important;
        margin-top: -410px;
    }

    .sub_idea_imgBox26 .idea_imgBox_txt {
        padding: 123% 0 0 0;
    }

    .sub_idea_imgBox27 {
        height: 217px !important;
        margin-top: -177px;
    }

    .sub_idea_imgBox27 .idea_imgBox_txt {
        padding: 63% 0 0 0;
    }


    /*겔부작가*/

    #sub_artist .sub_artist_wrap .sub_artist_contents {
        grid-template-columns :repeat(2,238px);
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents {
        width: 50%;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list4 {
        margin-top: -130px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list5 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list6 {
        margin-top: -302px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list7 {
        margin-top: -3px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list8 {
        margin-top: -252px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list10 {
        margin-top: -385px;
    }



    /*김혜린*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list3 {
        margin-top: -29px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list4 {
        margin-top: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list5 {
        margin-top: -7px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list6 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list7 {
        margin-top: -3px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list8 {
        margin-top: -200px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list9 {
        margin-top: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list10 {
        margin-top: -170px;
    }



    /*김유식*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list img{
        width: 100%;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list3 {
        margin-top: -3px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list4 {
        margin-top: -3px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list5 {
        margin-top: -50px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list6 {
        margin-top: -4px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list7 {
        margin-top: -52px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list8 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list9 {
        margin-top: -185px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list10 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list11 {
        margin-top: -187px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list12 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list13 {
        margin-top: -212px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list15 {
        margin-top: -270px;
    }

    .artist_kimNew .sub_artist_wrap .sub_artist_main .sub_artist_main_txt h3 {
        font-size: 1em !important;
    }

    .artist_kimNew .sub_artist_wrap .sub_artist_main .sub_artist_main_txt span.realName{
        font-size: 0.9em;
    }

    .artist_kimNew .sub_artist_wrap .sub_artist_main .sub_artist_main_txt p {
        font-size: 0.8em;
    }


    .artist_kimNew .sub_artist_wrap .sub_artist_main .sub_artist_main_txt p br{
        display: none;
    }

    .kimNew_br {
        display: block !important;
    }


    /*메밀*/
    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list8 {
        margin-top: -114px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list7 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list6 {
        margin-top: -361px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list4 {
        margin-top: -269px;
    }



    /*놀자곰*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list3 {
        margin-top: -48px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list4 {
        margin-top: 0px;
    }


    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list5 {
        margin-top: -70px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list6 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list7 {
        margin-top: -142px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list8 {
        margin-top: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list9 {
        margin-top: -209px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list10 {
        margin-top: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list11 {
        margin-top: -279px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list12 {
        margin-top: -2px;
    }


    /*핑고헤*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list3 {
        margin-top: -27px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list10 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list5 {
        margin-top: -11px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list9 {
        margin-top: -15px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list4 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list7 {
        margin-top: -131px;
    }



    /*이승훈*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list4 {
        margin-top: -70px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list5 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list6 {
        margin-top: -41px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list8 {
        margin-top: -27px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list9 {
        margin-top: -43px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list10 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list11 {
        margin-top: -43px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list12 {
        margin-top: -4px;
    }



    /*양치기*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list3 {
        margin-top: -70px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list4 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list5 {
        margin-top: -166px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list6 {
        margin-top: -3px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list7 {
        margin-top: -62px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list9 {
        margin-top: -62px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list10 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list11 {
        margin-top: -83px;
    }






}

/*노트북*/
@media screen and (max-width:1024px) {

    /*sub_idea*/

    #sub_idea .sub_idea_wrap {
        grid-template-columns: repeat(3, 250px);
    }

    .sub_idea_imgBox5 {
        margin-top: -106px;
    }

    .sub_idea_imgBox6 {
        margin-top: -27px;
    }

    .sub_idea_imgBox7 {
        margin-top: 3px;
    }

    .sub_idea_imgBox8 {
        margin-top: -88px;
    }

    .sub_idea_imgBox9 {
        margin-top: -111px;
    }

    .sub_idea_imgBox10 {
        margin-top: -20px;
    }

    .sub_idea_imgBox11 {
        margin-top: 4px;
    }

    .sub_idea_imgBox12 {
        margin-top: -91px;
    }

    .sub_idea_imgBox13 {
        margin-top: -195px;
    }

    .sub_idea_imgBox14 {
        margin-top: 1px;
    }

    .sub_idea_imgBox15 {
        margin-top: -127px;
    }

    .sub_idea_imgBox16 {
        margin-top: -102px;
    }

    .sub_idea_imgBox17 {
        height: 194px !important;
        margin-top: 1px;
    }

    .sub_idea_imgBox18 {
        margin-top: -128px;
    }

    .sub_idea_imgBox19 {
        height: 251px !important;
        margin-top: -43px;
    }

    .sub_idea_imgBox21 {
        margin-top: -70px;
    }

    .sub_idea_imgBox22 {
        margin-top: -36px;
    }

    .sub_idea_imgBox23 {
        margin-top: 6px;
    }

    .sub_idea_imgBox24 {
        margin-top: -158px;
    }

    .sub_idea_imgBox25 {
        margin-top: -133px;
    }

    .sub_idea_imgBox26 {
        height: 187px !important;
        margin-top: 6px;
    }

    .sub_idea_imgBox26 .idea_imgBox_txt {
        padding: 51% 0 0 0;
    }

    /*sub_겔부*/

    #sub_artist .sub_artist_wrap{
        flex-direction: column;
    }

    #sub_artist .sub_artist_wrap .sub_artist_main {
        width: 80%;
        margin: 0 auto 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #sub_artist .sub_artist_wrap .sub_artist_main .sub_artist_main_img {
        margin-bottom: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(3,235px);
        text-align: center;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list4 {
        margin-top: -38px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list5 {
        margin-top: -166px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list6 {
        margin-top: 5px;
    }    

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list7 {
        margin-top: -252px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list8 {
        margin-top: -216px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list10 {
        margin-top: -158px;
    }


    /*sub_김혜린*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list4 {
        margin-top: -30px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list5 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list6 {
        margin-top: -31px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list7 {
        margin-top: -157px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list8 {
        margin-top: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list9 {
        margin-top: -232px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list10 {
        margin-top: -187px;
    }


    /*sub_김유식*/


    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list5 {
        margin-top: 2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list6 {
        margin-top: 1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list7 {
        margin-top: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list8 {
        margin-top: -48px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list9 {
        margin-top: -47px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list10 {
        margin-top: -111px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list11 {
        margin-top: -28px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list13 {
        margin-top: -126px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list14 {
        margin-top: -50px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list15 {
        margin-top: 0;
    }

    /*메밀*/


    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list8 {
        margin-top: -98px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list7 {
        margin-top: -211px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list6 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list3 {
        margin-top: -220px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list4 {
        margin-top: -299px;
    }

    /*놀자곰*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list4 {
        margin-top: -45px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list5 {
        margin-top: 1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list6 {
        margin-top: -93px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list7 {
        margin-top: 1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list8 {
        margin-top: -41px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list9 {
        margin-top: -63px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list10 {
        margin-top: -19px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list11 {
        margin-top: 0;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list12 {
        margin-top: -133px;
    }



    /*핑고헤*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list5 {
        margin-top: -157px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list10 {
        margin-top: -29px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list9 {
        margin-top: -147px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list4 {
        margin-top: -132px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list7 {
        margin-top: -5px;
    }

    .artist_pingGoghe .sub_artist_wrap .sub_artist_main .sub_artist_main_txt p {
        font-size: 0.8em;
        margin-bottom: 0 !important;
        line-height: 1.3;
    }

    .artist_pingGoghe .sub_artist_wrap .sub_artist_main .sub_artist_main_img img {
        max-width: 80%;
    }



    /*이승훈*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list4 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list5 {
        margin-top: -69px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list6 {
        margin-top: -38px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list8 {
        margin-top: -70px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list9 {
        margin-top: -18px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list11 {
        margin-top: -5px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list12 {
        margin-top: -51px;
    }


    /*양치기*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list4 {
        margin-top: -72px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list5 {
        margin-top: -1px;
    }
    
    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list6 {
        margin-top: -140px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list7 {
        margin-top: -78px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list9 {
        margin-top: -239px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list10 {
        margin-top: -75px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list11 {
        margin-top: 1px;
    }













}

/*아이패드 (768px)*/
@media screen and (max-width:991px) {

    /*sub_idea*/

    #sub_idea .sub_idea_wrap {
        grid-template-columns: repeat(2, 250px);
    }

    .sub_idea_imgBox4 {
    margin-top: -105px;
    }

    .sub_idea_imgBox5 {
        margin-top: -9px;
    }

    .sub_idea_imgBox6 {
        margin-top: 4px;
    }

    .sub_idea_imgBox9 {
        margin-top: -21px;
    }

    .sub_idea_imgBox10 {
        margin-top: 4px;
    }

    .sub_idea_imgBox11 {
        margin-top: -16px;
    }

    .sub_idea_imgBox12 {
        margin-top: 4px;
    }

    .sub_idea_imgBox13 {
        margin-top: 5px;
    }

    .sub_idea_imgBox14 {
        margin-top: -7px;
    }

    .sub_idea_imgBox15 {
        margin-top: 5px;
    }

    .sub_idea_imgBox18 {
        margin-top: -99px;
    }

    .sub_idea_imgBox19 {
        margin-top: 2px;
    }

    .sub_idea_imgBox20 {
        margin-top: -42px;
    }

    .sub_idea_imgBox21 {
        margin-top: 4px;
    }

    .sub_idea_imgBox22 {
        margin-top: -41px;
    }

    .sub_idea_imgBox23 {
        margin-top: 2px;
    }

    .sub_idea_imgBox24 {
        margin-top: -27px;
    }

    .sub_idea_imgBox25 {
        margin-top: 5px;
    }

    .sub_idea_imgBox26 {
        height: 369px !important;
        margin-top: -43px;
    }

    .sub_idea_imgBox26 .idea_imgBox_txt {
        padding: 123% 0 0 0;
    }

    .sub_idea_imgBox27 {
        margin-top: -145px;
    }

    /*겔부*/

    #sub_artist .sub_artist_wrap .sub_artist_main .sub_artist_main_img img{
        max-width: 80%;
    }

    #sub_artist .sub_artist_wrap .sub_artist_main {
        width: 100%;
        margin-bottom: 8%;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents {
        width: 100%;
        grid-template-columns: repeat(3,210px);
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list5 {
        margin-top: -151px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list7 {
        margin-top: -229px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list8 {
        margin-top: -199px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list10 {
        margin-top: -124px;
    }


    /*김혜린*/


    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list7 {
        margin-top: -145px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list10 {
        margin-top: -173px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list9 {
        margin-top: -210px;
    }



    /*김유식*/


    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list8 {
        margin-top: -42px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list9 {
        margin-top: -43px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list10 {
        margin-top: -101px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list11 {
        margin-top: -23px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list13 {
        margin-top: -118px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list14 {
        margin-top: -46px;
    }



    /*메밀*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list8 {
        margin-top: -90px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list7 {
        margin-top: -191px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list4 {
        margin-top: -273px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list3 {
        margin-top: -200px;
    }



    /*놀자곰*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list4 {
        margin-top: -42px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list6 {
        margin-top: -88px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list8 {
        margin-top: -40px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list9 {
        margin-top: -66px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list10 {
        margin-top: -24px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list12 {
        margin-top: -126px;
    }


    /*핑고헤*/

    .artist_pingGoghe .sub_artist_wrap .sub_artist_contents {
        width: 100%;
        grid-template-columns: repeat(3,218px) !important;
    }

    .artist_pingGoghe .sub_artist_wrap .sub_artist_main .sub_artist_main_txt p {
        font-size: 0.75em;
        margin-bottom: 0 !important;
        line-height: 1.255;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list5 {
        margin-top: -148px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list8 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list9 {
        margin-top: -137px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list6 {
        margin-top: -5px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list4 {
        margin-top: -128px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list11 {
        margin-top: -5px;
    }




    /*이승훈*/



    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list5 {
        margin-top: -61px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list6 {
        margin-top: -33px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list8 {
        margin-top: -62px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list9 {
        margin-top: -14px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list12 {
        margin-top: -42px;
    }



    /*양치기*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list4 {
        margin-top: -60px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list6 {
        margin-top: -132px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list7 {
        margin-top: -64px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list9 {
        margin-top: -218px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list10 {
        margin-top: -61px;
    }










}

/*모바일*/

@media screen and (max-width:767px) {

    /*겔부*/

    #sub_artist .sub_artist_wrap .sub_artist_main {
        flex-direction: column;
    }

    #sub_artist .sub_artist_wrap .sub_artist_main .sub_artist_main_img {
        text-align: center;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents {
        grid-template-columns: repeat(2,234px);
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list4 {
        margin-top: -126px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list5 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list6 {
        margin-top: -293px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list7 {
        margin-top: 4px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list8 {
        margin-top: -244px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.gelboo .sub_artist_cont_list10 {
        margin-top: -380px;
    }


    /*김혜린*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list4 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list5 {
        margin-top: -5px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list6 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list7 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list8 {
        margin-top: -196px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list9 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.hyerin .sub_artist_cont_list10 {
        margin-top: -167px;
    }



    /*김유식*/


    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list5 {
        margin-top: -47px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list7 {
        margin-top: -52px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list8 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list9 {
        margin-top: -181px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list10 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list11 {
        margin-top: -183px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list13 {
        margin-top: -206px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list14 {
        margin-top: -2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.kimNew .sub_artist_cont_list15 {
        margin-top: -264px;
    }



    /*메밀*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list8 {
        margin-top: -112px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list6 {
        margin-top: -351px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list7 {
        margin-top: 2px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.meMil .sub_artist_cont_list4 {
        margin-top: -260px;
    }


    /*놀자곰*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list4 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list5 {
        margin-top: -70px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list6 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list7 {
        margin-top: -140px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list8 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list9 {
        margin-top: -205px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list10 {
        margin-top: 1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list11 {
        margin-top: -274px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.nolZagom .sub_artist_cont_list12 {
        margin-top: 0px;
    }


    /*핑고헤*/

    .artist_pingGoghe .sub_artist_wrap .sub_artist_main .sub_artist_main_img {
        margin-bottom: 4% !important;
    }

    .artist_pingGoghe .sub_artist_wrap .sub_artist_contents {
        grid-template-columns: repeat(2,234px) !important;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list10 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list5 {
        margin-top: -13px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list9 {
        margin-top: -18px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list4 {
        margin-top: -3px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.pingGoghe .sub_artist_cont_list7 {
        margin-top: -131px;
    }

    .artist_pingGoghe .sub_artist_wrap .sub_artist_contents {
        grid-template-columns: repeat(1,300px) !important;
    }



    /*이승훈*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list4 {
        margin-top: -68px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list5 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list8 {
        margin-top: -14px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list9 {
        margin-top: -49px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list11 {
        margin-top: -44px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.seungHoon .sub_artist_cont_list12 {
        margin-top: 0px;
    }




    /*양치기*/

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list4 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list5 {
        margin-top: -163px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list6 {
        margin-top: 0px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list9 {
        margin-top: -62px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list10 {
        margin-top: -1px;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents.yangChigi .sub_artist_cont_list11 {
        margin-top: -83px;
    }















}




/*모바일2*/
@media screen and (max-width:576px) {
    
    /*sub_idea*/

    #sub_idea .sub_idea_wrap {
        grid-template-columns: repeat(1, 250px);
    }

    #sub_idea .sub_idea_wrap > div{
        margin-top: 0;
    }

    /*겔부*/

    #sub_artist .sub_artist_wrap .sub_artist_main .sub_artist_main_img{
        margin-bottom: 5%;
    }

    #sub_artist .sub_artist_wrap .sub_artist_main .sub_artist_main_img img{
        max-width: 80%;
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents {
        grid-template-columns: repeat(1,300px);
    }

    #sub_artist .sub_artist_wrap .sub_artist_contents .sub_artist_cont_list {
        margin-top: 0 !important;
    }








}




/*모바일3 갤럭시*/

@media screen and (max-width:425px) {

}

/*모바일4 아이폰*/
@media screen and (max-width:375px) {

}